<!DOCTYPE html>
<html>
  <head>
    <title>Busy Sync</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <div id="navbar">
        <nav class="nav navbar-nav float-xs-right">
          <% if signed_in? %>
            <%= current_user.name %>
            <%= image_tag current_user.image, class: "img-thumbnail" %>
            Signed in as <strong><%= current_user.name %></strong>!
            <%= link_to "Sign out", "/logout" %>
          <% else %>
            <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
          <% end %>
        </nav>
      </div>
    </nav>

    <section class="jumbotron text-xs-center">
      <div class="container">
        <h1 class="jumbotron-heading">Sync your calendars</h1>
        <p class="lead text-muted">Login with your personal Google Account. Select your work account. Never cancel a meeting again. </p>
      </div>
    </section>
  </body>
</html>
